.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}


.signInBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.signInBtn:hover {
    cursor: pointer;
}

.input {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}