.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    background: rgb(253, 225, 14);
    width: 100%;
    gap: 30px;
}

.logo {
    display: flex;
    gap: 10px;
    font-size: 30px;
}
.logo:hover {
    cursor: pointer;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

