.input {
    margin: 5px;
    padding: 5px 10px;
    outline: none;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    background-color: white;
    min-width: 300px;
    height: 40px;
    font-size: 16px;
}




